<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHESS</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chess.css') }}">
  <script src="{{ url_for('static', filename='js/chess.js') }}" defer></script>
  <script>window.bottomColor = {{ bottom_color|tojson|safe }};</script>
</head>
<body>
  <h1>CHESS</h1>
  
  <!-- Control buttons for Restart and Quit -->
  <div class="controls">
    <button id="restart-btn">Restart Game</button>
    <button id="quit-btn">Quit Game</button>
  </div>
  
  <div class="chessboard-container">
    <div class="chess-board" id="chess-board">
      {% for row in range(8) %}
          {% for col in range(8) %}
              {% set color = "light" if (row + col) % 2 == 0 else "dark" %}
              <div class="square {{ color }}"></div>
          {% endfor %}
      {% endfor %}
    </div>
  </div>
</body>
</html>
